body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

select,
input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.back-btn {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #5a6268;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 90%;
    
        padding: 5px;
        padding-bottom: 15px;
        border-radius: 0;
        box-shadow: none;
    }

    select,
    input[type="number"],
    input[type="submit"],
    .back-btn {
        width: 90%;
    }
}
