body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/bg3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: calc(100% - 24px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
        align-items: flex-start;
        height: auto;
    }

    .login-container {
        width: 100%;
        max-width: 100%;
        margin-top: 50px;
        border-radius: 0;
        box-shadow: none;
    }

    .form-group input {
        width: 100%;
    }
}
